.home{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.home-txt{
    margin-left: 80px;
    margin-top: 77px;
}

@media only screen and (max-width:688px) {
    .home{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .home-txt{
        text-align: center;
        margin-left: 10px;
    }
}